@charset "utf-8";
.category > ul > li > a {
  display: block;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  background: #ededed url("http://www.zuyushop.com/wap/images/arrow1.gif") right center no-repeat;
  font-weight: bold;
  border-bottom: 1px solid #666;
}
.category > ul > li > ul {
  display: none;
}
.category > ul > li > ul > li {
  text-align: center;
  float: left;
  width: 33.33%;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
}
.category > ul > li > ul > li:nth-child(3n) {
  border-right: none;
}
