@charset "utf-8";
.nav {
  background: #fff;
  padding: 10px;
  margin-top: 10px;
}
.nav > .row > div > a {
  display: block;
  text-align: center;
}
.nav > .row > div > a img {
  width: 50px;
  height: 50px;
}
.nav > .row > div > a p {
  padding-top: 5px;
  font-size: 12px;
}
.nav > .row > div:nth-last-child(-n+4) {
  display: none;
}
.recommend {
  background: #fff;
}
.recommend > .rec-title {
  height: 35px;
  background: #ff841d;
  line-height: 35px;
  padding: 0 10px;
  color: #fff;
}
.recommend > .rec-title > a img {
  width: 20px;
  height: 20px;
}
.recommend > .rec-list > .media {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-top: 0;
}
.recommend > .rec-list > .media > .media-left > a img {
  width: 100px;
  height: 100px;
}
.recommend > .rec-list > .media > .media-body > h4 {
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.recommend > .rec-list > .media > .media-body > span {
  color: #c0c0c0;
}
.recommend > .rec-more > a {
  display: block;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 10px 0;
  border-radius: 10px;
}
