.shopList{
  background: #fff;
  padding: 10px;
  >.shops{
    width: 300px;
    margin: 0 auto;
a{
  display: inline-block;
  background: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px 8px ;

}
  }
}